---
- name: Configure server and deploy Docker app
  hosts: all
  become: yes

  tasks:
    - name: Update apt
      apt:
        update_cache: yes

    - name: Install Docker
      apt:
        name: docker.io
        state: latest

    - name: Ensure Docker starts on boot
      systemd:
        name: docker
        enabled: yes
        state: started

    - name: Copy sample app to server
      copy:
        src: ../sample-app/
        dest: /home/ubuntu/sample-app
        owner: ubuntu
        group: ubuntu
        mode: 0755

    - name: Build Docker image
      command: docker build -t sample-app /home/ubuntu/sample-app

    - name: Run Docker container
      command: docker run -d -p 80:5000 --name sample-app sample-app
